<ion-view class="itemView" view-title="{{item.title}}" ng-style="{ 'background-color': item.color }">
    <ion-content  overflow-scroll="true">
        <i class="icon {{item.icon}}" style="font-size:1em;color:white"></i>
        <ion-list can-swipe="true">
            <ion-item ng-repeat="tavolo in tavoli" class="animate-item">
                <div class="item item-button-right">
                    {{tavolo.descrizione}}
                    <button class="button button-positive">
                        Accomoda
                    </button>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
