<ion-view class="itemView" view-title="{{item.title}}" >
  <ion-content>
    <div class="item item-divider">
      <button class="button button-positive" ng-click="aggiungiContatore()">Aggiungi contatore</button>
    </div>
     <ion-list can-swipe="true"  class="list-sagra">
        <a class="item" ng-repeat="pietanzaOrdinata in data.pietanzeContatori">
          {{pietanzaOrdinata.pietanza.nome}}
          <span class="badge badge-assertive badge-qnt">{{pietanzaOrdinata.quantita}}</span>
        </a>
      </ion-list>

  </ion-content>

</ion-view>
