<ion-view class="itemView" view-title="{{item.title}}" >
  <ion-content>
    <ion-list can-swipe="true" class="list-contatori">
      <div class="item item-button-right" style="border-style: solid" ng-repeat="pietanza in pietanze | filter: { categoria: { id: categoriaSelezionata } }">
        <ion-checkbox ng-model="pietanza.checked" ng-checked="pietanza.checked">{{pietanza.nome}}</ion-checkbox>
        <!--<span class="nome-pietanza">{{pietanza.nome}}</span>-->
      </div>
    </ion-list>

  </ion-content>

  <ion-footer-bar class="bar-light ">
			<div class="button-bar">
          <ion-scroll direction="x" class="tsb-hscroll">
            <button class="button button-categoria  {{categoriaSelezionata===categoria.id ? 'button-positive' : 'button-outline button-positive'}}"
              ng-click="cambiaCategoria(categoria)" ng-repeat="categoria in categorie">
              {{categoria.descrizioneBreve | uppercase}}
            </button>
          </ion-scroll>
			</div>
		</ion-footer-bar>

</ion-view>
