<ion-view class="homeView" view-title="Home" hide-nav-bar="true">
    <ion-content>
        <form name="homeForm">
          <div class="row">
            <div class="col">
              <button class="button icon-left ion-gear-a button-positive button-aggiungi"
              ng-click="configura()">Configura</button>
            </div>
          </div>
          <div class="row row-center">
            <div class="col col-center text-center">
              <h1 class="animated bounceInDown">Sagra del tartufo</h1>
              <div id="container" >
                <input type="text" required placeholder="Nome operatore" ng-maxlength="20"
                 ng-model="data.nomeOperatore" style="width: 100%"/>
              </div>
              <button ng-disabled="homeForm.$invalid"  class="button button-outline button-block button-light animated bounceInUp" ng-click="entra()">Entra</button>
            </div>
          </div>
        </form>
    </ion-content>
</ion-view>
