<ion-view class="itemView" view-title="Aggiungi alla sequenza {{data.numSequenzaSelezionato}}" >
  <ion-content>
    <div class="item item-divider">
      <button class="button button-positive" ng-click="tornaRiepilogo()">Torna al riepilogo</button>
    </div>
     <ion-list can-swipe="true" class="list-sagra list-ordini-scelta-pietanza">
      <div class="item " ng-repeat="pietanza in pietanze | filter: { categoria: { id: categoriaSelezionata } }">
        <div class="row row-center">
          <div class="col">
            <span class="nome-pietanza">{{pietanza.nome}}<br>{{pietanza.prezzo | number:2}} €</span>
          </div>
          <div class="col">
            <div class="buttons wrapper-btn-qnt-ordinata">
                <button class="button button-calm btn-modifica-qnt-ordinata" ng-click="modificaQuantita(pietanza, 'rimuovi')" >
                  <i class="icon ion-ios-minus"></i>
                </button>
                <span class="qnt-ordinata"><strong>{{pietanza.quantita}}</strong></span>
                <button class="button button-positive btn-modifica-qnt-ordinata" ng-click="modificaQuantita(pietanza, 'aggiungi')" >
                  <i class="icon ion-ios-plus"></i>
                </button>
            </div>

          </div>
        </div>
      </div>
    </ion-list>

  </ion-content>

  <ion-footer-bar class="bar-light bar-categorie">
			<div class="button-bar">
          <ion-scroll direction="x" class="tsb-hscroll">
            <button class="button button-categoria  {{categoriaSelezionata===categoria.id ? 'button-positive' : 'button-outline button-positive'}}"
              ng-click="cambiaCategoria(categoria)" ng-repeat="categoria in categorie">
              {{categoria.descrizioneBreve | uppercase}}
            </button>
          </ion-scroll>
			</div>
		</ion-footer-bar>

</ion-view>
