<ion-view class="itemView" view-title="Aggiungi alla sequenza {{data.numSequenzaSelezionato}}" >
  <ion-content>
    <ion-list can-swipe="true" class="list-sagra">
      <div class="item item-button-right" ng-repeat="pietanza in pietanze | filter: { categoria: { id: categoriaSelezionata } }">
        <span class="nome-pietanza">{{pietanza.nome}}</span>
        <div class="buttons">
          <button class="button button-calm" ng-click="modificaQuantita(pietanza, 'rimuovi')" >
            <i class="icon ion-ios-minus"></i>
          </button>
          <span class="qnt-ordinata"><strong>{{pietanza.quantita}}</strong></span>
          <button class="button button-positive" ng-click="modificaQuantita(pietanza, 'aggiungi')" >
            <i class="icon ion-ios-plus"></i>
          </button>
        </div>
      </div>
    </ion-list>

  </ion-content>

  <ion-footer-bar class="bar-light ">
			<div class="button-bar">
          <ion-scroll direction="x" class="tsb-hscroll">
            <button class="button button-categoria  {{categoriaSelezionata===categoria.id ? 'button-positive' : 'button-outline button-positive'}}"
              ng-click="cambiaCategoria(categoria)" ng-repeat="categoria in categorie">
              {{categoria.descrizioneBreve | uppercase}}
            </button>
          </ion-scroll>
			</div>
		</ion-footer-bar>

</ion-view>
