<ion-view class="itemView" ng-style="{ 'background-color': item.color }">
    <ion-nav-title>
      Edit Sequenza
    </ion-nav-title>
    <ion-content>
        <div class="list">
            <div class="item item-button-right">
                Pasta ragu<span class="badge badge-assertive item item-button-right">0</span>
                <div class="buttons">
                    <button class="button button-positive">
                        <i class="icon ion-ios-plus"></i>
                    </button>
                    <button class="button button-assertive">
                        <i class="icon ion-ios-minus"></i>
                    </button>
                </div>
            </div>
            <div class="item item-button-right">
                Pasta pomodoro
                <button class="button button-positive">
                    <i class="icon ion-ios-telephone"></i>
                </button>
                <span class="badge badge-assertive">0</span>
            </div>
            <div class="item item-button-right">
                Lasagna
                <button class="button button-positive">
                    <i class="icon ion-ios-telephone"></i>
                </button>
                <span class="badge badge-assertive">0</span>
            </div>
            <div class="item item-button-right">
                Tortellini
                <button class="button button-positive">
                    <i class="icon ion-ios-telephone"></i>
                </button>
                <span class="badge badge-assertive">0</span>
            </div>
        </div>


        <div class="tabs tabs-icon-left">
            <a class="tab-item">
                <i class="icon ion-home"></i>
                Coperti
            </a>
            <a class="tab-item">
                <i class="icon ion-star"></i>
                Primi
            </a>
            <a class="tab-item">
                <i class="icon ion-gear-a"></i>
                Secondi
            </a>
            <a class="tab-item">
                <i class="icon ion-gear-a"></i>
                Pizze
            </a>
            <a class="tab-item">
                <i class="icon ion-gear-a"></i>
                Bevande
            </a>
            <a class="tab-item">
                <i class="icon ion-gear-a"></i>
                Dolci
            </a>
        </div>

    </ion-content>
</ion-view>