<ion-view class="itemView" view-title="{{item.title}}" >
    <ion-content overflow-scroll="true">
      <div class="item item-divider">
        <button class="button button-positive" ng-click="nuovaSerata()">Nuova serata</button>
      </div>

        <ion-list can-swipe="true" class="list-sagra">
          <a class="item item-icon-left item-icon-right"  ng-click="" ng-repeat="serata in serate">
            <div class="row">
              <div class="col">
                <span>{{serata.descrizione}}</span>
              </div>
              <div class="col">
                <span>{{serata.data | date : 'dd/MM/yyyy'}}</span>
              </div>
              <div class="col">
                <span>{{serata.data | date : 'dd/MM/yyyy'}}</span>
              </div>
              <div class="col">
                <button class="button button-assertive" ng-click="modificaSerata(serata)">Modifica</button>
              </div>
            </div>
            <i class="icon ion-chevron-right" ></i>
          </a>
        </ion-list>


  </ion-content>
</ion-view>
