<ion-view class="itemView" view-title="{{item.title}}" >
    <ion-content overflow-scroll="true">
      <div class="item item-divider">
        <button class="button button-positive" ng-click="nuovaSerata()">Nuova serata</button>
      </div>

        <ion-list can-swipe="true" class="list-sagra list-serate">
          <div class="item" ng-repeat="serata in data.serate">
            <div class="row row-center responsive-sm"  >
              <div class="col  ">
                <span>{{serata.data | date : 'dd/MM/yyyy'}}</span>
              </div>
              <div class="col">
                <span>{{serata.stato}}</span>
              </div>
              <div class="col">
                <button ng-if="serata.stato!=='CHIUSA'" class="button button-assertive" ng-click="chiudiSerata(serata)">Chiudi</button>
                <button ng-if="serata.stato==='CHIUSA'" class="button button-assertive" ng-click="riapriSerata(serata)">Ri-apri</button>
                <button class="button icon-left ion-printer button-energized" ng-click="stampaChiusuraSerata(serata)">Stampa</button>
                <button class="button button-positive" ng-click="modificaSerata(serata)">Modifica</button>
              </div>
            </div>
          </div>
        </ion-list>


  </ion-content>
</ion-view>
