/********************* generali ***********************/
span {
  font-size: 18px;
}

.list-sagra .item {
  font-size: 18px;
}

.list-sagra .item .icon {
  font-size: 20px;
}

.bar-categorie {
  height: 55px;
}

.align-button-center {
  display: flex;
  justify-content: center;
}

/********************* contatori-scelta-pietanza.html ***********************/

.list-contatori div label{
  padding: 2px;
  padding-left: 60px;
  border-style: none;
}

/********************* stato-tavolo-modifica.html ***********************/

.list-stato-tavolo-modifica .item {
  font-size: 18px;
}

.list-stato-tavolo-modifica .item .icon {
  font-size: 20px;
}


.list-stato-tavolo-modifica .item .row {
  padding: 0px;
}

.list-stato-tavolo-modifica .item .row .col {
  padding: 0px;
}


.list-stato-tavolo-modifica .item-content {
  padding: 0px;
}


/********************* serate.html ***********************/

.list-serate .item {
  padding: 10px;
  padding-left: 16px;
}

.list-serate .item .row {
  padding: 0px;
}

.list-serate .item .row .col {
  padding: 0px;
}

/********************* ordini-scelta-tavolo.html ***********************/

.button-refresh {
  min-height: 35px;
  min-width: 35px;
  float: right;
  margin-right: 10px;
}


.list-ordini-scelta-tavolo .orario{
  font-size: 14px;
}

.list-ordini-scelta-tavolo .item .row {
  padding: 0px;
}

.list-ordini-scelta-tavolo .item .row .col {
  padding: 0px;
}

/********************* ordini-gestione-sequenza.html ***********************/

.badge-qnt {
  font-size: 18px;
}

.sequenza-title {
  background-color: rgba(56,126,245,0.15);
  border-top-color : rgb(56,126,245);
  border-top-width : medium;
  height: 55px;

}

.sequenza-title .button-aggiungi {
  top: 4px
}

.sequenza-aggiungi {
  background-color: rgba(56,126,245,0.15);
  border-top-color : rgb(56,126,245);
  border-top-width : medium
}

/********************* ordini-scelta-pietanza.html ***********************/

.list-ordini-scelta-pietanza .item {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.list-ordini-scelta-pietanza .item .row {
  padding: 0px;
}

.list-ordini-scelta-pietanza .item .row .col {
  padding: 0px;
}

.nome-pietanza {
  white-space: normal;
  max-width: 150px;
  font-size: 20px;
}

.wrapper-btn-qnt-ordinata {
  justify-content: flex-end;
  display: flex;
  padding-left: 10px;
}

.btn-modifica-qnt-ordinata {
  width: 50px;
  min-width: 50px;
  height: 45px;
  min-height: 45px;
}

.qnt-ordinata {
  padding: 0px;
  background-color: transparent;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  width: 40px;
  min-width: 40px;
  height: 40px;
  min-height: 40px;
  line-height: 40px;
}

.button-categoria {
  font-size: 17px !important;
  margin-right: 5px;
  min-height: 45px !important;
}


.btn-cambia-stato {
  font-size:12px;
  border-width: 2px
}
