/********************* generali ***********************/
span {
  font-size: 18px;
}



/********************* accompagnatore.html e accompagnatore-tavolo.html ***********************/

.list-accompagnatore .item {
  font-size: 18px;
}

.list-accompagnatore .item .icon {
  font-size: 20px;
}

/********************* ordini-scelta-tavolo.html ***********************/

.list-ordini-scelta-tavolo .item {
  font-size: 18px;
}

.list-ordini-scelta-tavolo .item .icon {
  font-size: 20px;
}

.list-ordini-scelta-tavolo .orario{
  font-size: 14px;
}

.list-ordini-scelta-tavolo .item .row {
  padding: 0px;
}

.list-ordini-scelta-tavolo .item .row .col {
  padding: 0px;
}

/********************* ordini-gestione-sequenza.html ***********************/

.badge-qnt {
  font-size: 18px;
}

.sequenza-title {
  background-color: rgba(56,126,245,0.15);
  border-top-color : rgb(56,126,245);
  border-top-width : medium
}

.sequenza-title .button-aggiungi {
  top: 4px
}

.sequenza-aggiungi {
  background-color: rgba(56,126,245,0.15);
  border-top-color : rgb(56,126,245);
  border-top-width : medium
}

/********************* ordini-scelta-pietanza.html ***********************/

.list-pietanze .item {
  font-size: 18px;
}

.list-pietanze .nome-pietanza {
  white-space: normal;
  max-width: 150px;
}

.qnt-ordinata {
  padding-left: 5px;
  padding-right: 5px;
  width: 40px;
  text-align: center;
}

.button-categoria {
  font-size: 17px !important;
  margin-right: 5px;
}

