/********************* generali ***********************/
span {
  font-size: 18px;
}

/********************* accompagnatore.html ***********************/

.list-accompagnatore .item {
  font-size: 18px;
}

/********************* ordini.html ***********************/

.list-ordini .item {
  font-size: 18px;
}

.list-ordini .item .icon {
  font-size: 20px;
}

.list-ordini .orario{
  font-size: 14px;
}

.list-ordini .item .row {
  padding: 0px;
}

.list-ordini .item .row .col {
  padding: 0px;
}
/********************* ordini-tavolo.html ***********************/

.list-ordini-tavolo .item {
  font-size: 18px;
}

.list-ordini-tavolo .item .icon {
  font-size: 20px;
}

.badge-qnt {
  font-size: 18px;
}

.sequenza-title {
  background-color: rgba(56,126,245,0.15);
  border-top-color : rgb(56,126,245);
  border-top-width : medium
}

.sequenza-title .button-aggiungi {
  top: 4px
}

.sequenza-aggiungi {
  background-color: rgba(56,126,245,0.15);
  border-top-color : rgb(56,126,245);
  border-top-width : medium
}

/********************* sequenza.html ***********************/

.list-pietanze .item {
  font-size: 18px;
}

.list-pietanze .nome-pietanza {
  white-space: normal;
  max-width: 155px;
}

.qnt-ordinata {
  padding-left: 5px;
  padding-right: 5px;
  width: 40px;
  text-align: center;
}

.button-categoria {
  font-size: 17px !important;
  margin-right: 5px;
}

